body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}
#myH1{
    font-size: 4rem;
    font-family: "Arial";
    color: rgb(215, 25, 107);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 6px solid red;
    border-radius: 60px;
    background-color: white;
}
#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 2%, 32%);
    text-shadow: 2px 2px 2px black;
    margin-bottom: 26px;

}
#controls button{
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#startBtn{
    background-color: hsl(115, 100%, 40%);
}

#startBtn:hover{
    background-color: hsl(115, 100%, 30%);
}

#stopBtn{
    background-color: hsl(10, 90%, 55%);
}

#stopBtn:hover{
    background-color: hsl(10, 90%, 45%);
}
#resetBtn{
    background-color: hsl(206, 100%, 50%);
}
#resetBtn:hover{
    background-color:  hsl(185, 98%, 47%);
}